<!DOCTYPE html>
<html>
<head>
	<script src="https://apis.google.com/js/platform.js" async defer></script>
	<meta name="google-signin-client_id" content="949252127732-duk28t8fcs9nqj25mg7u3cheut6bkdbr.apps.googleusercontent.com">
	<script type="text/javascript" src="js/googleLogin.js"></script>

	<title>Sign-in example</title>
</head>
<body>
	<div class="g-signin2" data-onsuccess="onSignIn"></div>
	<a href="#" onclick="signOut();"><strong>Sign out</strong></a>
</body>
</html>
